#game {
    text-align: center;
    color: teal;
    margin-top: 50px;
    margin-bottom: 50px;  
}

body {
    background-image: url("../images/fortuneteller.jpg");
}

h1,
h2,
p {
    background-color: lightgray;
    height: 90px;
    padding-top: 20px;
    font-weight: bold;
    width: 500px;
    margin: 10px 450px 0px 475px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

#guesses {
    width: 700px;
    text-align: center;
}